$orange: #ff8360; //rgba(255, 131, 96, 100)
$yellow: #e8e288; //rgba(232, 226, 136, 100)
$green: #7dce82; //rgba(125, 206, 130, 100)
$dark_teal: #3cdbd3; //rgba(60, 219, 211, 100)
$teal: #00fff5; //rgba(0, 255, 245, 100)
$grey: #808080; //rgb(128,128,128) 
$white: #FFFFFF;
$dark: #22292e;
$semi_transparent: rgba(0,0,0,0.25);


body {
	font-family: 'Open Sans', sans-serif;
}

.main-header {
    .container-fluid {
        padding: 15px 15px;
        width: 60%;
    }
    #logo {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 700;
        padding: 5px 0;
        letter-spacing: 1px;
        a {
            text-decoration: none;
            color: $dark;
            &:hover {
                color: $orange;
            }
        }
    }
    .navbar-nav {
        li {
           a {
               font-size: 15px;
               text-transform: uppercase;
               &:hover {
                   color: $orange;
               }
           }
        }
    }
}

.form-container {
    margin: 0 auto;
    padding: 100px 0;
    width: 75%;
    input[type="text"] {
        padding: 20px;
    }
}

.internal-nav {
    margin: 0 auto;
    color: $grey;
}