// Place all the styles related to the Moves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.move_container {
    text-align: center;
    margin-top: 10px;
    a {
        text-decoration: none;
        color: $dark;
        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }
    .media {
        display: inline-block;
        padding: 2rem 1rem;
        border-bottom: 1px solid $dark;
        &:hover {
            border-bottom: 1px solid $orange;
        }
    }
}
