<nav class="navbar navbar-default main-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="logo"><%= link_to "Boxr", root_path %></div>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
          <li><%= link_to "New Move", new_move_path %></li>
          <li><%= link_to "Sign Up" %></li>
          <li><%= link_to "Login" %></li>
      </ul>
     </div>
  </div>
</nav>