<header class="main-header cf">
    <div id="logo">Boxr</div>
    <nav>
        <ul>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>